doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../scss/main.css")
        title Document
    body 
    main.main
        header.header-section
            .logo
                img(src="../img/logo.svg", alt="logo")
            nav.nav
                ul.nav__list
                    li.nav__list__item Home
                    li.nav__list__item Product
                    li.nav__list__item About
                    li.nav__list__item Contact
            .nav__btn
                button Sign up
        .main-section 
            h1 Find the Best Solution in Seconds
            p If debugging is the process of removing software bugs.
            .main-section__btn 
                button.main-section__btn__get get started
                button.main-section__btn__try try for free
        .main-foto 
            img(src="../img/header-center.jpg", width="1021"  height="608" alt="foto")
    section.figmaland 
        h2 FigmaLand was Built Specifically for You
        .figmaland__contener 
            .figmaland__contener__block 
                img(src="../img/figmaland__contener__block1.svg", alt="")
                h3 Management
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
                a(href="") Learn More
            .figmaland__contener__block 
                img(src="../img/figmaland__contener__block 2.svg", alt="")
                h3 Customer Support
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
                a(href="") Learn More
            .figmaland__contener__block 
                img(src="../img/figmaland__contener__block 3.svg", alt="")
                h3 Collaborative
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
                a(href="") Learn More
    section.quick 
        .quick__text 
            h3 Quick & Easy Process
            p Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
            .quick__text__btn 
                button.quick__text__btn__get sign up for free
                button.quick__text__btn__try find out more
        .quick__foto
            img(src="../img/quick.jpg", alt="")
    section.perfect
        .quick__foto
            img(src="../img/perfect.jpg", alt="")
        .quick__text 
            h3 Perfect for Operations HR and Finance
            p Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
            .quick__text__btn 
                button.quick__text__btn__get Button
    section.perfect_solution
        .quick__text 
            h3 Perfect solution for small businesse
            p Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business less stressful. We'd love to show you what we're building...
            .quick__text__btn 
                button.quick__text__btn__get sign up for free
                button.quick__text__btn__try find out more
        .quick__foto
            img(src="../img/perfect_solution.jpg",  width='762' height="545" alt="")
    section.simpel
        h2 Simple Pricing for Your Team
        p Slate helps you see how many more days you need 
        .simpel-contener
            .simpel-contener__wrapper 
                h3 Education
                p Brief price Description
                img(src="../img/simple1_.jpg", alt="")
                .monet 
                    span 0
                    .monet_block 
                        span $
                        span Per/ month
                ul
                    li Only 2 Operators
                    li Abandoned Cart
                    li Facebook & Instagram Ads
                    li Order Notifications
                    li Landing Pages
                button Order Now
            .simpel-contener__wrapper 
                h3 Professional
                p Brief price Description
                img(src="../img/simple2.jpg", alt="")
                .monet 
                    span 10
                    .monet_block 
                        span $
                        span Per/ month
                ul
                    li Only 2 Operators
                    li Abandoned Cart
                    li Facebook & Instagram Ads
                    li Order Notifications
                    li Landing Pages
                button Order Now
            .simpel-contener__wrapper 
                h3 Business
                p Brief price Description
                img(src="../img/simple3.jpg", alt="")
                .monet 
                    span 99
                    .monet_block 
                        span $
                        span Per/ month
                ul
                    li Only 2 Operators
                    li Abandoned Cart
                    li Facebook & Instagram Ads
                    li Order Notifications
                    li Landing Pages
                button Order Now
    .plak